<md-grid-list cols="2" rowHeight="fit">
  <md-grid-tile>
    <md-card class="settings-soundcloud">
      <md-card-header>
        <md-card-title>SoundCloud</md-card-title>
        <md-card-subtitle>Subtitle</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        Text content
      </md-card-content>
      <md-card-actions align="start">
        <button md-button>Action1</button>

      </md-card-actions>
      <md-card-footer>
        Footer
      </md-card-footer>
    </md-card>
  </md-grid-tile>
  <md-grid-tile></md-grid-tile>
</md-grid-list>
