<md-toolbar color="primary">
  <!--Logo-->
  <md-icon svgIcon="logo" class="logo" routerLink=""></md-icon>
  <!--Music services-->
  <button *ngFor="let service of services" md-button>
    {{ service.title | uppercase }}
  </button>
  <!--Separator-->
  <div class="flex-spacer"></div>

  <!--Settings-->
  <button md-icon-button [mdMenuTriggerFor]="settings">
    <md-icon svgIcon="settings"></md-icon>
  </button>
  <!--Settings menu-->
  <md-menu #settings="mdMenu">
    <a md-menu-item routerLink="settings">
      Settings
    </a>
    <button md-menu-item>
      Logout
    </button>
  </md-menu>
</md-toolbar>
