<md-toolbar color="primary">
  <!--Logo-->
  <md-icon svgIcon="logo" class="logo" routerLink=""></md-icon>
  <!--Music services-->
  <a *ngFor="let provider of providers"
     md-button
     routerLink="{{ provider.url }}">
    {{ provider.title | uppercase }}
  </a>
  <!--Separator-->
  <div class="flex-spacer"></div>

  <!--Settings-->
  <button md-icon-button [mdMenuTriggerFor]="settings" *ngIf="show">
    <md-icon svgIcon="settings"></md-icon>
  </button>
  <!--Settings menu-->
  <md-menu #settings="mdMenu">
    <a md-menu-item routerLink="settings">
      Settings
    </a>
    <button md-menu-item>
      Logout
    </button>
  </md-menu>
</md-toolbar>
