<md-card class="player">
  <md-grid-list cols="10">

    <md-grid-tile [colspan]="1">
      <div class="cover">
        <img [src]="img" class="img">
        <button md-icon-button
                (click)="onClick"
                class="play"
                [hidden]="true">
          <md-icon svgIcon="play"></md-icon>
        </button>
      </div>
    </md-grid-tile>

    <md-grid-tile [colspan]="8" [rowspan]="1" class="mix">
      <div class="description">
        <h1 class="title">{{title}}</h1>
        <h2 class="username">by {{user}}</h2>
      </div>
    </md-grid-tile>

    <md-grid-tile [colspan]="1"></md-grid-tile>

  </md-grid-list>
</md-card>
