audio {
  display: none;
}

$white: #fff;

.audio-player {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .controls {
    @extend .audio-player;

    > * {
      display: flex;
      text-align: center;
    }

    &-loading {
      width: 24px;
      height: 24px;
    }

    &-timeupdate {
      width: 150px;
    }
  }
}
