<audio [src]="stream" controls #navbarAudioPlayer></audio>
<div class="audio-player">
  <div class="controls">

    <button
      *ngIf="status === 'paused'"
      class="controls-play"
      (click)="play()"
      md-icon-button>
      <md-icon class="md-24"
               aria-label="Play"
               svgIcon="play"></md-icon>
    </button>

    <button
      *ngIf="status === 'playing'"
      class="pause"
      (click)="pause()"
      md-icon-button>
      <md-icon class="md-24"
               aria-label="Pause"
               svgIcon="pause"></md-icon>
    </button>

    <md-progress-spinner
      *ngIf="status === 'loading'"
      class="controls-loading"
      mode="indeterminate"
      color="warn"
      aria-label="loading">
    </md-progress-spinner>

  </div>
</div>
